
.bg_darkest{
border: #080B12;
}
.bg_darkblue{
    background-color: #141922;
}
.bg_darkgray{
    background-color: #282828;
}
#site_header{
    height: 80px;
    border: #080B12;
}
#site_main{
    height:400px;
    background-color: #141922;
}
#site_footer{
    height: 80px;
    background-color: #282828;
}